.text {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    width: 40%;
}

body {
   background-color: #181818;
}

.description {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 50px;
  justify-content: center;
  text-align:center;
}

.biotitle {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 20px;
  justify-content: center;
  text-align:center;
}

.bio {
  font-family: 'Merriweather Sans', sans-serif;
  color: grey;

  justify-content: center;
  text-align:center;

  padding-left: 20%;
  padding-right: 20%
}

.bday {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 28px;
  justify-content: center;
  text-align:center;
}

.birth {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 25px;
  justify-content: center;
  text-align:center;
}

.knownfor {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 25px;
  justify-content: center;
  text-align:center;
}

.profilepic{
  justify-content: center;
  text-align:center;
}
