.slick-dots {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: -6rem 0;
  transform: translateY(20px);
  list-style-type: none;

  li {
    margin: 0 0.5px;
    border: none;
    border-radius: 100%;
    text-indent: -9999px;
  }

  button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    text-indent: -9999px;
  }
  li button {
    background-color: #e5e5e5;
    width: 5px;
    height: 5px;
  }

  li button:hover {
    background-color: #1f1f1f;
    transform: scale(1.5, 1.5);
  }

  li.slick-active button {
    background-color: #292929;
  }

}

@media (min-width: 520px) and (max-width: 547px) {
  .slick-dots {
    transform: translateY(60px);
  }
}

@media (min-width: 420px) and (max-width: 520px) {
  .slick-dots {
    transform: translateY(45px);
  }
}

@media (min-width: 410px) and (max-width: 420px) {
  .slick-dots {
    transform: translateY(100px);
  }
}

@media (max-width: 410px) {
  .slick-dots {
    transform: translateY(75px);
  }
}

