.carousel-inner {
    max-height: 100%;
}

div.heh.carousel.slide {
    max-height: 100%;
}

img.kan.loader.img-responsive {
    max-height: 100%;
    width: 100%;
}

#movieTitle {
    font-weight: 600;
}

#glyphIcons {
    font-weight: 600;
}

#movieInfo {
    font-weight: 600;
}

.mostPopularMovies {
    padding-top: 20px;
    margin-bottom: 20px;
}

h3 {
    color: white;
}

.glyphicon.moreInfo {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
}

.glyphicon.moreInfo:hover {
    transform: scale(1.3);
    cursor: pointer;
}

@media (max-width: 600px) {
    #movieTitle {
        font-size: 15px;
        transform: translateY(20px);
    }

    #glyphIcons {
        font-size: 15px;
        transform: translateY(20px);
    }

    #movieInfo {
        display: none;
    }
}
