.carousel, .carousel-inner, img.kan.img-responsive {
    width: 100%;
    max-width: 2440px;
    height:500px;
    margin: auto;
}

@media (max-width: 900px) {
    .carousel, .carousel-inner, img.kan.img-responsive {
        width:auto;
        height:auto;
    }
}

.mostPopularMovies{
    padding-top: 20px;
    margin-bottom: 20px;
}

.mostPopularMoviesTitle{
    overflow: hidden;
    position: relative;
    left: 8%;
    width: 40%;
}

h3{
    color: white;
}

.glyphicon.moreInfo {
    font-size: 20px;
    cursor: pointer;
}