.hiddenTitle {
    color: white;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

div.title {
    transform: translateY(15px);
    width: 100%;
    max-width: 140px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

span.glyphicon.glyphicon-calendar {
    padding-right: 5px;
}
