.genreTitle {
    overflow: hidden;
    position: relative;
    left: 8%;
    width: 40%;
}

.genreSliderBox {
    margin-bottom: 8em;
}

.genreSliderBox:last-child {
    margin-bottom: -10em;
}

.carsoule {
    margin: 0 auto;
    overflow: visible;
    width: 90%;
    height: 250px;
}

.slick-prev, .slick-next {
    position: absolute;
}

.slick-slide.slick-center img {
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 250px;
    margin:auto;
    display: inline-block;
}

div.slick-slide.slick-active.slideBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

img.image.img-responsive, div.sc-bdVaJa.btyTPY {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 250px;
    margin: auto;
    display: inline-block;
}

@media (max-width: 900px) {
    .genreTitle {
        left: 12%;
    }
}

@media (max-width: 750px) {
    .genreTitle {
        left: 6%;
    }

    .genreSliderBox {
        margin-bottom: 10em;
    }

    .genreSliderBox:last-child {
        margin-bottom: 0;
    }
}


@media (max-width: 550px) {
    .genreTitle {
        left: 6em;
    }

    .slideBox, .moviecard, .container,img.image.loading.img-responsive {
        width: 225px;
        height: 225px;
    }
    img.image.loading.img-responsive {
        transform: translateX(-2em);
    }

    .genreSliderBox {
        margin-bottom: 12em;
        width: auto;
        height: auto;
    }

    .genreSliderBox:last-child {
        margin-bottom: 0;
    }

    div.slick-slide.slick-active.slick-current.slideBox, div.regular.slider.slick-initialized.slick-slider.carsoule,
    div.slick-list, div.slick-track{
       width: 250px;
       height: 250px;
   }
}
