.genreTitle {
    overflow: hidden;
    position: relative;
    left: 8%;
    width: 40%;
}

.genreSliderBox {
    margin-bottom: 8em;
}

.genreSliderBox:last-child {
    margin-bottom: 0;
}

.carsoule {
    margin: 0 auto;
    overflow: visible;
    width: 90%;
    height: 250px;
}

.slick-prev, .slick-next {
    position: absolute;
}

.slick-slide.slick-center img {
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 250px;
}

img.image.img-responsive, div.sc-bdVaJa.btyTPY {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 250px;
    margin: auto;
}

@media (max-width: 900px) {
    .slideBox, .a, .container {
        width: 185px;
        height: 185px;
        justify-items: center;
    }
    .genreSliderBox{
        height: 200px;
    }

    .genreTitle {
        left: 12%;
    }
}

