.genreTitle {
    overflow: hidden;
    position: relative;
    color: white;
    font-weight: 600;
    left: 8%;
    width: 40%;
}

.genreSliderBox {
    margin-bottom: 8em;
}

.genreSliderBox:last-child {
    padding-bottom: 8em;
    margin: 0;
}

.carsoule {
    margin: 0 auto;
    overflow: visible;
    width: 90%;
    height: 250px;
}

button.slick-arrow.slick-prev,button.slick-arrow.slick-next{
    position: absolute;
    transform: scale(2,2);

}

.slick-slide.slick-center img {
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 250px;
    margin: auto;
    display: inline-block;
}

div.slick-slide.slick-active.slideBox {
    display: flex;
    justify-content: center;
    align-items: center;
}


img.image.img-responsive, div.sc-bdVaJa.btyTPY {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 250px;
    margin: auto;
    display: inline-block;
}

@media (max-width:1160px){
    .genreTitle {
        left: 10%;
    }
}

@media (max-width: 900px) {
    .genreTitle {
        left: 12%;
    }
}

@media (max-width: 700px) {

    .carsoule {
        margin: 0 auto;
        overflow: visible;
        width: 80%;
        height: 250px;
    }

    .genreTitle {
        left: 18%;
    }

    .genreSliderBox {
        margin-bottom: 8em;
    }

    button.slick-arrow.slick-prev{
        position: absolute;
        transform: translateX(10px) scale(2,2);
    }

    button.slick-arrow.slick-next {
        position: absolute;
        transform: translateX(-10px) scale(2,2);
    }

    .genreSliderBox:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 520px) {

    .carsoule {
        margin: 0 auto;
        overflow: visible;
        width: 50%;
        height: 250px;
    }

    .genreTitle {
        left: 33%;
    }

    button.slick-arrow.slick-prev{
        position: absolute;
        transform: translateX(2px) scale(2,2);
    }

    button.slick-arrow.slick-next {
        position: absolute;
        transform: translateX(-2px) scale(2,2);
    }

    .genreSliderBox {
        margin-bottom: 10em;
        width: auto;
        height: auto;
    }

    .genreSliderBox:last-child {
        margin-bottom: 0;
    }
}
