@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html, body {
    height: 100%;
    width: 100%;
}

#StartScreen {
    color: black;
    background-color: darkgray;
    text-align: center;
}

#root {
    min-height: calc(100vh - 70px);
}
.footer {
    display: none;
    height: 50px;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

h2 {
    color: #006699;
}


.main {
    background: darkgrey;
}

