@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html, body {
    height: 100%;
    width: 100%;
}

#StartScreen {
    color: black;
    background-color: darkgray;
    text-align: center;
}

h2 {
    color: #006699;
}



.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    z-index: 0;
}

.main {
    background: darkgrey;
}

