#div1 {
    width: 1000px;
    height: 1000px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#favTitle {
    margin-top: 30px;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

#info {
    font-size: 40px;
    padding-right: 20px;
    margin-top: 10px;
}

#removeButton {
    visibility: hidden;
}

#info:hover {
    cursor: pointer;
    color: white;
}

table#dwds.table {
    width: 100%;
}

thead {
    width: 100%;
}

th {
    width: 100%;
}

#noFavMovie {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    color: #be0004;
}

#notLoggedIn {
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
    color: red;
    padding-top: 30px;
}

.th {
    z-index: 10;
    position: absolute;
    margin: auto;
    left: 4em;
}

.relatedamoviepic {
    margin: 0 auto;
    text-align: center;
}

.justRelatedaMoviePic {
    width: auto;
    max-width: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#removeButton {
    display: none;
    transform: translateX(-6.5px) translateY(-23px);
    justify-content: center;
    text-align: center;
}

#removeButton:hover {
    background-color: #c6c6c6;
    color: red;
    font-weight: bolder;
    transform: translateX(-5px) translateY(-23px);
}

.justRelatedaMoviePic .styleImg:hover .image.loader.img-responsive {
    transform: scale(1);
}

.relatedamoviepic:hover #removeButton {
    display: inline-block;
}

.relatedamoviepic {
    height: 330px;
}

div.col-md-3.col-sm-4.col-xs-12 {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    #favTitle {
        font-size: 30px;
        margin-right: 20px;
        margin-top: 20px;
    }

    #notLoggedIn {
        font-size: 20px;
    }

    #info {
        font-size: 30px;
    }
}

@media (max-width: 650px) {
    #removeButton {
        visibility: visible;
    }

    #glyptest {
        visibility: hidden;
    }
}

@media (max-width: 480px) {
    #favTitle {
        font-size: 18px;
        margin-right: 20px;
        margin-top: 20px;
    }

    #noFavMovie {
        font-size: 18px;
    }
}

#visualButt {
    margin-right: 100px;
}

#visualButt:hover {
    font-weight: 400;
    color: black;
    background: #aeaeae;
}

