.facebooklogo{
    position: relative;
    left: -3em;
}

.transition-enter {
    transform: scale(0);
}
.transition-enter-active {
    transform: scale(1);
    transition: transform 1000ms ease;
}
.transition-exit {
    transform: scale(1);
}
.transition-exit-active {
    transform: scale(0);
    transition: transform 1000ms ease;
}

.facebookButton{
    position: relative;
    top: -2em;
}

.pt-portal{
    z-index: 99999;
}
div.pt-overlay.pt-toast-container.pt-toast-container-top{
    transform: translateY(20em);
}

div.styles_modal__gNwvD{
    width: 100%;
    max-width: 350px;
    background: #4b4b4b;
}

.pt-Name{
    font-size: 1.3em;
    font-weight: lighter;
    color: white;
}

div.pt-callout.pt-icon-info-sign{
    background: lightgray;
}

#signin{
    font-size: 2em;
    font-weight: 400;
    color: white;
}


button.styles_closeButton__20ID4:hover{
    cursor: pointer;
    fill: white;
    transform: scale(1.5,2);
}
